ma.apx-view table,.apx-view td,.apx-view th  {
	border:none;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
	border-collapse: separate;
	background: #fff;
	color: #111;
}
.apx-view thead th:last-child , .apx-view tfoot th:last-child {
	border-right:none;
}
.apx-view tfoot th {
	border-bottom:none;
}
.apx-view td,.apx-view th {
	text-align: left;
	vertical-align: top;
	/* font-family: tahoma, arial; */	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	font-size: 11px;
	padding: 3px;
	margin: 0px;
}
.apx-view tbody tr td,.apx-view tbody tr th,.apx-view tbody tr:nth-child(even) td,.apx-view tbody tr:hover td {
	background-color:inherit;
	height:auto;
	width:auto;
	background: none;
	font-weight: normal;
	color:#111;
}
.apx-view h1 {
	font-size: 14px;
	font-variant: small-caps;
	text-align: center;
}
.apx-view p {
	margin-top: 4px;
	white-space: normal;
}
div {
	white-space: normal;
}
.apx-view th,.apx-view .hdr {
	font-size: 11px;
	color: #fff;
	background:#66bd0f;
	/*background: url("../images/slice3.png") repeat-x scroll 50% 50% #6AACFF;*/
}
.apx-view div.hdr {
	text-align: center;
	font-weight: bold;
	height: 20px;
	padding: 4px 0px 0px 0px;
	border-bottom: 1px solid #000;
}
.apx-view .midhdr {
	background: #69abff;
	font-weight: bold;
}
.apx-view a {
	text-decoration: none;
	font-weight: bold;
	color: #70afff;
}
.apx-view a:hover {
	text-decoration: underline;
	color: #66bd0f;
}
.apx-view a.nobold {
	font-weight: normal;
}
.apx-view form {
	margin: 0;
}
.apx-view input[type="checkbox"],.apx-view input[type="radio"] {
	vertical-align: text-bottom;
}
.apx-view input,.apx-view textarea {
	/* font-family: arial, Tahoma, Arial; */	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	font-size: 11px;
}
.apx-view input[type=button],.apx-view input[type=submit],.apx-view input[type=reset] {
	padding: 0.2em 0.4em;
	border-radius: 0px;
	background: #66bd0f;
	font-weight: bold;
	color: #fff;
	border: 1px solid #111111;
	height:auto;
	line-height:inherit;
}
.apx-view select {
	/* font-family: arial, Tahoma, Arial; */	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	font-size: 11px;
	border: 1px solid #333;
	width:auto;
	background:none;
	padding:0px;
	appearance: menulist;
	-moz-appearance: menulist;
	-webkit-appearance: menulist;
}
.apx-view td.bol {
	background: #777;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
#page-title.title {
	color: #49d;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	font-family: georgia,Futura;
	padding: 6px 0px 0px 0px;
	margin: 0px;
}
.apx-view table.views-table th,.apx-view  table.views-table td {
	width:inherit;
	max-width:inherit;
	min-width:inherit;
	z-index:1;
	position:relative;
}
.apx-view table.views-table {
	width:inherit;
	max-width:inherit;
	min-width:inherit;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #333 !important;
}
.apx-view.view-display-id-page .views-table {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}
.apx-view .view-content {
	overflow:auto;
	max-height:inherit;
	height:inherit;
	
}
.apx-view .views-table caption {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background: #66bd0f;
	color:#fff;
	font-family: Futura,"Trebuchet MS",Arial,Arial;
	border:1px solid #333;
	border-bottom:none;
	z-index:1;
}
.apx-view .view-filters{
	background-color:inherit;
	overflow:visible;
	width:auto;
	height:auto;
	text-align:center;
	padding:5px 0px 10px;
	position:relative;
	z-index:99;
}
.apx-view .view-content{
	position:relative;
	z-index:9;
}
.apx-view .view-filters form {
	background-color:#fff;
	border: 1px solid #333;
	overflow:visible;
	width:auto;
	height:auto;
	padding:5px;
	display:inline-block;
	text-align:left;
}.apx-view .view-filters #views-exposed-form-shipment-detail-report-shipment-detail-report{background-color: #fff;border: 1px solid #333;overflow: visible;width: auto;height: auto;padding: 5px;display: inline-block;text-align: left;margin-right: 50%;margin-top: -40px;margin-bottom: 100px;}
.apx-view .views-exposed-form label {
	font-family: "Trebuchet MS", "Lucida Console", Futura, Helvetica, Arial;
	margin-top: 8px;
	text-align: left;
	color: #686868;
	font-weight: bold;
	font-size: 11px;
}
.apx-view .views-exposed-form .views-exposed-widget {
	margin-bottom:5px;
}
.apx-view .views-exposed-form .views-submit-button {
	clear:both;
}
.apx-view .views-exposed-form .views-exposed-widget .form-submit {
	margin-top:5px;
	padding:5px 20px
}
.apx-view .views-exposed-form .ui-dropdownchecklist-selector {
	padding: 0.2em 0.4em;
	border-radius: 0px;
	background: url(/sites/all/themes/e3_zen/images/ui-bg_highlight-soft_85_8bbdff_1x100.png) repeat-x scroll 50% 50% #8BBDFF;
	font-weight: bold;
	color: #09327f;
	border: 1px solid #111111;
	height: auto;
	line-height: inherit;
	font-size: 11px;
	width:210px !important;
}
.apx-view .views-exposed-form .ui-dropdownchecklist-text {
	font-size: 11px
}

/*
=====================================
		Sales rep report
=====================================
*/
.apx-view.view-sales-rep-report .views-exposed-form .views-exposed-widget {
	float:left;
	margin-right:20px;
}
.apx-view.view-sales-rep-report .views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 20px;
}
.apx-view.view-sales-rep-report .attachment-after {
	max-width:1000px;
	margin:auto;
}
.apx-view.view-sales-rep-report .view-display-id-attachment_6,.apx-view.view-sales-rep-report .view-display-id-attachment_7 {
	float:left;
}
.apx-view.view-sales-rep-report .view-display-id-attachment_1,.apx-view.view-sales-rep-report .view-display-id-attachment_9 {
	float:right;
}
.apx-view.view-sales-rep-report .view-display-id-attachment_7 {
	clear:both;
}
.apx-view.view-sales-rep-report .views-table {
	width: 470px;
}
/*
=====================================
		Shipments By Date
=====================================
*/
.apx-view.view-shipments-by-dates .views-exposed-form .views-exposed-widget {
	float: left;
	margin-right:20px;
}
.apx-view.view-shipments-by-dates .views-exposed-form  #edit-field-shipment-franchise-nid-wrapper,.apx-view.view-shipments-by-dates .views-exposed-form  .views-submit-button {
	clear:both;
}
.apx-view.view-shipments-by-dates .views-exposed-form input[type=text], .success-percentage-view .views-exposed-form .container-inline-date .form-item input {
	width:90px;
	box-shadow:none;
	margin-right:0px;
}
.apx-view.view-shipments-by-dates .views-exposed-form select {
	padding: 0.2em 0.4em;
	border-radius: 0px;
	background: url(/sites/all/themes/e3_zen/images/ui-bg_highlight-soft_85_8bbdff_1x100.png) repeat-x scroll 50% 50% #8BBDFF;
	font-weight: bold;
	color: #09327f;
	border: 1px solid #111111;
	height: auto;
	line-height: inherit;
}
.apx-view.view-shipments-by-dates {
	margin:auto;
	max-width:980px;
}
.apx-view.view-shipments-by-dates > div.view-content {
	float:left;
	clear:both;
	width:600px;
}
.apx-view.view-shipments-by-dates .attachment-after {
	float:right;
	width:370px;
}
.apx-view.view-shipments-by-dates .attachment-after div.view-content  {
	width:auto;
	float:none;
	clear:inherit;
}
.apx-view.view-shipments-by-dates .views-table {
	width:100%;
}


/*
=====================================
		Success percentage
=====================================
*/
.apx-view .views-exposed-form .form-item > label {
	float:none;
	width:auto;
}
.success-percentage-view .views-exposed-form .container-inline-date,.success-percentage-view .views-exposed-form .form-item {
	float:left;
	clear:none;
	margin-right:20px;
}
.success-percentage-view .views-exposed-form .container-inline-date .form-item {
	margin-right:0px;
}
.success-percentage-view .views-exposed-form .form-item-sales,.success-percentage-view .views-exposed-form .form-submit  {
	clear:both;
}
.success-percentage-view .views-exposed-form .form-submit {
	float:left;
	margin-top:10px;
}
.success-percentage-view .views-exposed-form .container-inline-date .form-item input {
	width: 94px;
}
.success-percentage-table table {
	margin:10px auto;
}
/*
=====================================
		Apx Filters
=====================================
*/
.apx-filters .views-exposed-form .views-exposed-widget {
	float: left;
	margin-right:20px;
	padding:0px;
}
.apx-filters .views-exposed-form input[type=text], .success-percentage-view .views-exposed-form .container-inline-date .form-item input {
	width:90px;
	box-shadow:none;
	margin-right:0px;
}
.apx-filters .views-exposed-form  input.form-autocomplete {
	width: 210px;
}
.apx-filters .views-exposed-form .views-submit-button {
	clear:both;
}

.apx-view.view-load-by-count-date-all-in-one .views-exposed-form #edit-field-shipment-broker-uid-wrapper, .apx-view.view-load-by-count-date-all-in-one .views-exposed-form #edit-author-select-wrapper {
	clear:both;
}
.apx-view.view-load-by-count-date-all-in-one .views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 20px;
}

.view-shipment-detail-report .views-exposed-form #edit-date-filter-min-wrapper, .view-shipment-detail-report .views-exposed-form #edit-date-filter-max-wrapper {
	float:left;
}

.apx-view.view-shipment-detail-report .views-exposed-form #edit-field-shipment-broker-uid-wrapper {
	clear:both;
}
.apx-filters .views-exposed-form  .ui-dropdownchecklist {
	max-height:300px;
	height:auto !important;
	overflow:auto;
	z-index:999;
}

.apx-view.view-view-cust.view-display-id-customer_detail_report{
	width:900px;
	margin:20px auto;
	position:relative;
}
.apx-view.view-view-cust.view-display-id-attachment_1, .apx-view.view-view-cust.view-display-id-attachment_2, .apx-view.view-view-cust.view-display-id-weekly_averages_attachments, .apx-view.view-view-cust.view-display-id-weekly_averages_current_six_weeks {
	float:left;
	width:250px;
	margin-right:0px;
	margin-top:10px;	
}
.apx-view.view-view-cust.view-display-id-attachment_8 {
	float:left;
	margin-right:0px;
	margin-top:10px;	
}
.apx-view.view-view-cust.view-display-id-attachment_2, .apx-view.view-view-cust.view-display-id-weekly_averages_attachments, .apx-view.view-view-cust.view-display-id-weekly_averages_current_six_weeks, .apx-view.view-view-cust.view-display-id-attachment_8 {
	margin-left:15px;
	line-height: 10px;
}
.apx-view.view-view-cust.view-display-id-attachment_1 .view-header, .apx-view.view-view-cust.view-display-id-attachment_2 .view-header, .apx-view.view-view-cust.view-display-id-weekly_averages_attachments .view-header, .apx-view.view-view-cust.view-display-id-weekly_averages_current_six_weeks .view-header {
	font-weight: bold;
	text-align: center;
	font-size: 11px;
	color: #333;
	background: #66bd0f;
	color: #fff;
	font-family: arial,Futura,Arial;
	border: 1px solid #333;
	border-bottom: none;
	z-index: 1;
	padding:3px 0px;
	width:100%;
}
.apx-view.view-view-cust .views-table {
	width:100%;
}
.apx-view.view-view-cust .view-header p {
	margin:0px;	
}
.apx-view.success-percentage-view .visualization-chart {
	max-width:700px;
	margin:auto;
}
.apx-view .attachment-after:after  {
	clear:both;
	content:"";
	display:block;
}
.view.view-view-cust.view-id-view_cust.view-display-id-attachment_7.table-scroll.apx-view {
	float:left;
	width:100%;
}/* for revenue and markete performance report table left border  */.success-percentage-table table {    border-left: 1px solid;    margin: 10px auto;}

.apx-view.view-view-cust.view-display-id-attachment_8 {
	width: 351px;
	float:left;
}
.apx-view.view-view-cust.view-display-id-attachment_8 .view-content {
	height: 405px;
}
.apx-view.view-view-cust.view-display-id-attachment_7 {
	width:550px;
	float: left;
    margin: 20px auto 20px 180px;
}
.apx-view.view-view-cust.view-display-id-attachment_7 .view-content {
	overflow:hidden;
}
.apx-view.view-view-cust.view-display-id-attachment_4 {
	float:left;
	width:100%;
}
.apx-view.view-view-cust.view-display-id-attachment_7:after {
	content:"";
	clear:both;
	display:block;
}

/*
=====================================
		Calendar Table
=====================================
*/

.calendar-form-title {
	text-align:center;
	padding:3px;
}
.calendar-form-title .form-item {
	margin: 0px;
	display: inline-block;
}
.calendar-form-title select {
	border: 1px solid #fff;
	margin: 0px 5px;
}
table.apx-calendar-table {
	text-align:center;
}
table.apx-calendar-table td, .apx-view table.views-table.apx-calendar-table td {
	width: 50px;
	height: 50px;
	padding: 5px;
	text-align:center;
}
table.apx-calendar-table th, .apx-view table.views-table.apx-calendar-table th {
	text-align:center;
}
table.apx-calendar-table td a, .apx-view table.views-table.apx-calendar-table td a {
	color:#111;
	font-weight:normal;
}
table.apx-calendar-table td a:hover, .apx-view table.views-table.apx-calendar-table td a:hover {
	text-decoration:none;
	color:#111;
}
table.apx-calendar-table td.ltgreen, .apx-view table.views-table.apx-calendar-table td.ltgreen {
	background: #dfd;
}
table.apx-calendar-table td.yellow, .apx-view table.views-table.apx-calendar-table td.yellow {
	background: #ffc;
}
.apx-view.view-view-cust.view-display-id-weekly_averages_attachments {
	position: absolute;
	left: 250px;
	top: 170px;
	margin-top:0px;
}
.apx-view.view-view-cust.view-display-id-weekly_averages_current_six_weeks {
	position: absolute;
	left: 250px;
	top: 310px;
	margin-top:0px;
}


.apx-view .item-list {
	margin-top:10px;
}
.apx-view.view-shipment-detail-report .views-table {
	margin:auto;
}/* css for navigation */.tb-megamenu-item {float:none !important;}.tb-megamenu .nav > li > a {background: none !important; }.tb-megamenu {    background-color: #252525;    background-image: linear-gradient(to bottom, #252525, #252525);    background-repeat: repeat-x;    color: #aaa;}.tb-megamenu .tb-block ul li, .tb-megamenu .tb-block .nav li {    margin-top: 10px;		list-style: outside none none;}