#page-title {
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
/*
legend{
	top: 0.875em !important;
}
#node_shipment_full_group_load_info .field-item, #node_shipment_full_group_rate_info .field-item, #node_shipment_full_group_carrier_info .field-item {
    font-weight: bold;
    margin-bottom: 55px;
}
#node_shipment_full_group_load_info, #node_shipment_full_group_rate_info, #node_shipment_full_group_carrier_info {
    margin: 10px 10px 4px 20px !important;
}
#wwex-reports-form div .container-inline-date{
   float:left;
   margin-left: 50px;
}
thead{
	z-index : 0 !important;
} 
#success_data{ padding:0px 15%}
#success_data table{width:100%}
#wwex-reports-form{ height:123px;}
#wwex-reports-form div .container-inline-date{
margin-left:0px !important;
margin-top:11px;
}
#wwex-reports-form div .form-type-select{
  display:inline-block;
   
  width: 150px;
}
.form-item.form-type-date-popup.form-item-fdate > label {
    float: none;
}

.form-item.form-type-date-popup.form-item-tdate > label {
    float: none;
}
.container-inline-date .date-padding{
	float: none !important;
	padding: 0px !important;
}
.container-inline-date > .form-item{
	margin-bottom: 4px;
}

#wwex-success-percentage-form div .form-type-select{
  display:inline-block;
  margin: 0px 10px;
  width:275px;
}
#wwex-success-percentage-form{
  height:100px;
}


#wwex-success-percentage-form div .container-inline-date{
   float:left;
   margin-left: 50px;
}
nav ul ul{ padding-left:25px}


.view-content {
    
	max-height: 450px;
    overflow-x: scroll;
    
}	
.field-label{
	float:left;
	width: 125px;
}
*/
#success_data .highcharts-tooltip {
    display: none !important;
}
/*
.sticky-enabled.tableheader-processed.sticky-table {
    align-self: center;
    margin-left: 250px;
    margin-top: 40px;
}
*/
 